*~
/Week1/.ipynb_checkpoints/
/Week1/Homework/.ipynb_checkpoints/
/Week1/output.csv.gz
/Week1/Terraform+GCP/terraform/.terraform.lock.hcl
/Week1/Terraform+GCP/terraform/.terraform/
/Week1/Terraform+GCP/terraform/terraform.tfstate
/Week1/Terraform+GCP/terraform/terraform.tfstate.backup
/Week1/yellow_tripdata_2021-01.csv
/Week1/Homework/green_tripdata_2019-01.csv
/Week2/data/
/Week2/yellow_tripdata_2021-01.csv.gz
/Week2/Homework/data/
/Week2/Homework/__pycache__/
/Week2/__pycache__/
/Week3/Homework/data/
